{{ define "main" }}
<main>
    <section>
        <h1>Projects</h1>
        <p>Here are some of the projects I've worked on:</p>
        
        <ul class="blog-posts">
            {{ range where site.RegularPages "Section" "projects" }}
            <li>
                <div>
                    <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
                    {{ with .Description }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
            </li>
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}
