{{ define "main" }}
<main>
    <section>
        <h1>Publications</h1>
        
        <ul class="blog-posts">
            {{ range where site.RegularPages "Section" "publications" }}
            <li>
                <div>
                    <a href="{{ .Permalink }}"><strong>{{ .Title }}</strong></a>
                    {{ with .Params.authors }}
                    <p class="home-list-authors">{{ . }}</p>
                    {{ end }}
                    {{ with .Description }}
                    <p>{{ . }}</p>
                    {{ end }}
                    <p><em>{{ .Params.publication }}</em></p>
                </div>
            </li>
            {{ end }}
        </ul>
    </section>
</main>
{{ end }}
